# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate.json

# IntelliJ Related
*.iml
*.ipr
*.iws
.idea/

# The Tooling
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Android Related
**/android/local.properties
**/android/key.properties
**/android/app/local.properties
**/android/app/generated_sig.keystore
**/android/app/debug.keystore

# iOS Related
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.framework
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/Pods/
**/.symlinks/

# Web Related
**/web/flutter_bootstrap.js

# Coverage
doc/api/
ios/Flutter/.xcconfig
